{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <h1>Messagerie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ messagerie.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ messagerie.date ? messagerie.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ messagerie.type }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ messagerie.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_messagerie_index') }}">back to list</a>

    <a href="{{ path('app_messagerie_edit', {'id': messagerie.id}) }}">edit</a>

    {{ include('messagerie/_delete_form.html.twig') }}
{% endblock %}
