{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Styles CSS */
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .form-container {
            background-color: #f9f9f9;
            padding: 30px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .form-title {
            font-size: 28px;
            color: #6a1b9a;
            margin-bottom: 20px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-size: 18px;
            color: #6a1b9a;
            margin-bottom: 10px;
            display: block;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: border-color 0.3s ease;
            background-color: #fff;
        }

        .form-control:focus {
            border-color: #6a1b9a;
            outline: none;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .btn {
            padding: 12px 24px;
            background-color: #6a1b9a;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #4a148c;
        }

        .btn-back {
            background-color: #1976d2;
        }

        .btn-back:hover {
            background-color: #1565c0;
        }

        /* Styles pour les messages d'erreur */
        .error-message {
            color: red;
            font-size: 14px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="form-container">
            <h1 class="form-title">Create new Quiz</h1>

           <form action="{{ path('app_quiz_new') }}" method="post" novalidate>
               {{ form_start(form) }}
               {# Affichage des erreurs globales #}
               {% if form_errors(form) %}
                   <div class="error-message">
                       Veuillez remplir tous les champs correctement.
                   </div>
               {% endif %}

               <div class="form-group">
                   {{ form_label(form.code_quiz, 'Code Quiz', {'label_attr': {'class': 'form-label'}}) }}
                   {{ form_widget(form.code_quiz, {'attr': {'class': 'form-control'}}) }}
                   {# Affichage des erreurs spécifiques #}
                   {% if form_errors(form.code_quiz) %}
                       <div class="error-message">
                           {{ form_errors(form.code_quiz) }}
                       </div>
                   {% endif %}
               </div>

               <div class="form-group">
                   {{ form_label(form.nom_quiz, 'Nom Quiz', {'label_attr': {'class': 'form-label'}}) }}
                   {{ form_widget(form.nom_quiz, {'attr': {'class': 'form-control'}}) }}
                   {% if form_errors(form.nom_quiz) %}
                       <div class="error-message">
                           {{ form_errors(form.nom_quiz) }}
                       </div>
                   {% endif %}
               </div>

               <div class="form-group">
                   {{ form_label(form.description, 'Niveau:facile,moyen ou difficile', {'label_attr': {'class': 'form-label'}}) }}
                   {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                   {% if form_errors(form.description) %}
                       <div class="error-message">
                           {{ form_errors(form.description) }}
                       </div>
                   {% endif %}
               </div>

               <div class="form-group">
                   {{ form_label(form.prix_quiz, 'Prix Quiz', {'label_attr': {'class': 'form-label'}}) }}
                   {{ form_widget(form.prix_quiz, {'attr': {'class': 'form-control'}}) }}
                   {% if form_errors(form.prix_quiz) %}
                       <div class="error-message">
                           {{ form_errors(form.prix_quiz) }}
                       </div>
                   {% endif %}
               </div>

               <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
			<label class="block text-sm">
				<span class="text-gray-700 dark:text-gray-400">Image</span>
				<div class="relative flex items-center">
					<button type="button" class="px-4 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-l-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" onclick="document.getElementById('fileInput').click();">
						Import
					</button>
					{{ form_widget(form.image_quiz, {'id': 'fileNameInput', 'attr': {'class': 'w-full pl-2 py-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input'}}) }}
					<input type="file" id="fileInput" class="hidden" onchange="updateFileName(event)"/>

					<script>
						function updateFileName(event) {
const input = document.getElementById('fileNameInput');
input.value = event.target.files[0].name;
input.placeholder = '';
}
					</script>

				</div>
				<span id="imageError" class="text-xs text-red-600 dark:text-red-400"></span>
			</label>

		</div>


               <div class="btn-container">
                   <button type="submit" class="btn">Enregistrer</button>
                   <a href="{{ path('app_quiz_index') }}" class="btn btn-back">Back to list</a>
               </div>
               {{ form_end(form) }}
           </form>
        </div>
    </div>
{% endblock %}
