{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .table {
            width: 100%;
            margin-bottom: 20px;
        }

        .table th {
            background-color: #6a1b9a;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            padding: 15px;
        }

        .table td {
            border-top: 1px solid #ddd;
            padding: 15px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: #6a1b9a;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #4a148c;
        }

        .btn-back {
            background-color: #1976d2;
        }

        .btn-back:hover {
            background-color: #1565c0;
        }

        .btn-edit {
            background-color: #ffa000;
        }

        .btn-edit:hover {
            background-color: #ff8f00;
        }

        .title {
            font-size: 32px;
            text-align: center;
            margin-bottom: 20px;
            color: #6a1b9a;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Quiz</h1>

        <table class="table">
            <tbody>
               
                <tr>
                    <th>Code Quiz</th>
                    <td>{{ quiz.getCodeQuiz() }}</td>
                </tr>
                <tr>
                    <th>Nom Quiz</th>
                    <td>{{ quiz.getNomQuiz() }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ quiz.getDescription() }}</td>
                </tr>
                <tr>
                    <th>Prix Quiz</th>
                    <td>{{ quiz.getPrixQuiz() }}</td>
                </tr>
                <tr>
                    <th>Image Quiz</th>
                    <td>{{ quiz.getImageQuiz() }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_quiz_index') }}" class="btn btn-back">Retour à la liste</a>

        <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="btn btn-edit">Modifier</a>
                {{ include('quiz/_delete_form.html.twig') }}


    </div>
{% endblock %}
