{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
<div class="flex items-center justify-between">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        Make a New Comment
    </h2>

    <button onclick="window.location.href='{{ path('app_commentaire_index') }}'"
            class="flex items-center px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        <span> Back to List</span>
    </button>
</div>

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    {{ form_start(form , {'attr': {'class':'form-horizontal','novalidate':'novalidate','id': 'Form'}}) }}
    

<label class="block mt-4 text-sm">
        <span id="DescriptionError" class="text-gray-700 dark:text-gray-400">Description</span>
        {{ form_widget(form.description_co, {'id': 'DescriptionInput','attr': {'class': 'block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray', 'rows': '7', }}) }}
                      			<span class="error-message">{{ form_errors(form.description_co) }}</span>

    </label>

       
   

  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Date</span>
    {{ form_widget(form.date_co) }}
</label>



    <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">Choose User</span>
        {{ form_widget(form.post) }}
                      			<span class="error-message">{{ form_errors(form.post) }}</span>

    </label>
     <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">Choose User</span>
        {{ form_widget(form.utilisateur) }}
                      			<span class="error-message">{{ form_errors(form.utilisateur) }}</span>

    </label>
  
    
    
	</div>
<button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        {{ button_label|default(' + Add') }}
    </button>
   
    {{ form_end(form) }}
    {#
<script>
		// Fonction de validation du formulaire
function validateForm() {

let Description = document.getElementById('DescriptionInput').value.trim();
let DescriptionError = document.getElementById('DescriptionError');
let letterOnlyRegex = /^[A-Za-z\s]+$/;
if (Description === '') {
DescriptionError.textContent = 'Description is required';
return false;
} else if (! letterOnlyRegex.test(Description)) {
DescriptionError.textContent = 'Description doit contenir uniquement des lettres';
return false;
} else {
DescriptionError.textContent = '';
}

return true;
}

// Attachez l'événement de soumission du formulaire à la fonction de validation
document.getElementById('Form').addEventListener('submit', function (event) {
if (! validateForm()) { // Empêche la soumission du formulaire si la validation échoue
event.preventDefault();
}
});
	</script>
    #}
    <style>
	.error-message {
    color: red;
}
</style>
{% endblock %}


