{% extends 'base.html.twig' %}

{% block title %}Etablissement index
{% endblock %}




{% block body %}

	<main class="h-full pb-16 overflow-y-auto">
		<div class="container grid px-6 mx-auto">
			<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
				Etablissement
			</h2>

			<!-- Tables -->
			<ul
				class="flex items-center flex-shrink-0 space-x-6"><!-- Insérez votre code de tables ici -->
			</ul>

			<!-- Search input -->
			<div class="flex justify-center flex-1 lg:mr-32">
				<div class="relative w-full max-w-xl mr-6 focus-within:text-purple-500">
					<div class="absolute inset-y-0 right-0 flex items-center pr-2">
						<svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20">
							<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
						</svg>
					</div>
					
					<input id="searchInput" class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" placeholder="Recherche Etablissement" aria-label="Search" onkeyup="filterTable()"/>

				</div>
			</div>




			<!-- With actions -->
			<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
				<div style="display: flex; justify-content: flex-end;">
					<a href="{{ path('app_etablissement_new') }}">Create new +</a>
					
				</div>
				<a href="{{ path('generateEtab_pdf') }}" class="text-sm font-medium leading-5 text-purple-600 hover:text-purple-800 focus:outline-none focus:shadow-outline-gray">
    							<i class="fas fa-file-pdf" aria-hidden="true"></i> Générer PDF | 
									</a>
<a href="{{ path('app_map') }}" class="text-sm font-medium leading-5 text-purple-600 hover:text-purple-800 focus:outline-none focus:shadow-outline-gray">
    <i class="fas fa-cog" aria-hidden="true"></i> Show Map
</a>


			</h4>
			
			<div id="tableContainer" class="w-full overflow-hidden rounded-lg shadow-xs">
				<div class="w-full overflow-x-auto">
					<table class="w-full whitespace-no-wrap">
						<thead>
							<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
								<th class="px-4 py-3" data-column="etablissement" onclick="sortTable('etablissement')">
  Etablissement
  <i id="etablissementIcon" class="fas fa-sort hidden ml-1"></i>
</th>

<th class="px-4 py-3" data-column="lieu" onclick="sortTable('lieu')">
  Lieu
  <i id="lieuIcon" class="fas fa-sort hidden ml-1"></i>
</th>

<th class="px-4 py-3" data-column="type" onclick="sortTable('type')">
  Type
  <i id="typeIcon" class="fas fa-sort hidden ml-1"></i>
</th>

<th class="px-4 py-3" data-column="user" onclick="sortTable('user')">
  User
  <i id="userIcon" class="fas fa-sort hidden ml-1"></i>
</th>
								{# Add this column header #}

								<th class="px-4 py-3">Actions</th>



							</tr>
						</thead>
						<tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
							{% for etablissement in etablissements %}
								<tr class="text-gray-700 dark:text-gray-400">


									<td class="px-4 py-3">
										<div
											class="flex items-center text-sm">
											<!-- Avatar with inset shadow -->
											<div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
												<img class="object-cover w-full h-full rounded-full" src="{{ asset('imagesEtablissements/' ~ etablissement.image) }}" alt="" loading="lazy"/>
												<div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
											</div>
											<div>
												<p class="font-semibold">{{ etablissement.nom }}</p>
												<p class="text-xs text-gray-600 dark:text-gray-400">

													{{ etablissement.codeEtablissement }}
												</p>
											</div>
										</div>
									</td>

									<td class="px-4 py-3 text-sm">
										{{ etablissement.Lieu }}
									</td>

									<td class="px-4 py-3 text-sm">
										{{ etablissement.typeEtablissement }}
									</td>


									<td class="px-4 py-3">
										<div
											class="flex items-center text-sm">
											<!-- Avatar with inset shadow -->

											<div>
												<p class="font-semibold">{{ etablissement.getUtilisateur().getNom() }}</p>

											</div>
										</div>
									</td>


									<td class="px-1 py-1">
										<div class="flex items-center space-x-4 text-sm">
											<a href="{{ path('app_etablissement_show', {'id': etablissement.id}) }}">
												<button @click="openModal" class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray hover:text-purple-800 hover:bg-purple-100" aria-label="Show">
													<svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20">
														<path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1h2a1 1 0 011 1v1h1a1 1 0 011 1v11a1 1 0 01-1 1H3a1 1 0 01-1-1V7a1 1 0 011-1h1V5a1 1 0 011-1h2V3a1 1 0 011-1h4zm-1 7a1 1 0 100 2h2a1 1 0 100-2h-2z" clip-rule="evenodd"></path>
													</svg>
												</button>
											</a>

											<a href="{{ path('app_etablissement_edit', {'id': etablissement.id}) }}">
												<button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray hover:text-purple-800 hover:bg-purple-100" aria-label="Edit">
													<svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20">
														<path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
													</svg>
												</button>
											</a>

											{{ include('etablissement/_delete_form.html.twig', {'etablissement': etablissement}) }}
										</div>
									</td>


								</tr>


							{% else %}
								<tr>
									<td colspan="5">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
					<span class="flex items-center col-span-3">
						Showing 21-30 of 100
					</span>
					<span class="col-span-2"></span>
					<!-- Pagination -->
					<span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
						<nav aria-label="Table navigation">
							<ul class="inline-flex items-center">
								<li>
									<button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple" aria-label="Previous">
										<svg class="w-4 h-4 fill-current" aria-hidden="true" viewbox="0 0 20 20">
											<path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
										</svg>
									</button>
								</li>
								<li>
									<button class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600  rounded-md focus:outline-none focus:shadow-outline-purple">
										1
									</button>
								</li>
								<li>
									<button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
										2
									</button>
								</li>
								<li>
									<button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
										3
									</button>
								</li>
								<li>
									<button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
										4
									</button>
								</li>
								<li>
									<span class="px-3 py-1">...</span>
								</li>
								<li>
									<button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
										8
									</button>
								</li>
								<li>
									<button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
										9
									</button>
								</li>
								<li>
									<button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" aria-label="Next">
										<svg class="w-4 h-4 fill-current" aria-hidden="true" viewbox="0 0 20 20">
											<path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
										</svg>
									</button>
								</li>
							</ul>
						</nav>
					</span>
				</div>
			</div>
		</div>
	</main>


	<script>
		function filterTable() {
var input,
filter,
table,
tbody,
tr,
td,
i,
txtValue;
input = document.getElementById("searchInput");
filter = input.value.toUpperCase();
table = document.getElementById("tableContainer");
tbody = table.getElementsByTagName("tbody")[0];
tr = tbody.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
td = tr[i].getElementsByTagName("td")[0];
if (td) {
txtValue = td.querySelector("p.font-semibold").textContent || td.querySelector("p.font-semibold").innerText;
if (txtValue.toUpperCase().startsWith(filter)) {
tr[i].style.display = "";
} else {
tr[i].style.display = "none";
}
}
}
}
	</script>




<style>
/* Cacher toutes les icônes de tri par défaut */
/* Masquer toutes les icônes de tri par défaut */
.fas.fa-sort {
  display: none;
}

/* Afficher l'icône de tri de la colonne sélectionnée */
.fas.fa-sort.active {
  display: inline-block;
}

</style>
<script>
// Variable pour suivre la colonne actuellement triée
var currentSortedColumn = null;

function sortTable(columnName) {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("tableContainer").getElementsByTagName('table')[0];
  switching = true;
  /*Make a loop that will continue until no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare, one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("td")[getColumnIndex(columnName)];
      y = rows[i + 1].getElementsByTagName("td")[getColumnIndex(columnName)];
      /*check if the two rows should switch place, based on the direction, asc or desc:*/
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
  // Masquer toutes les icônes de tri
  resetSortIcons();
  // Afficher l'icône de tri de la colonne sélectionnée
  document.getElementById(columnName + 'Icon').classList.add('active');
  // Mettre à jour la colonne actuellement triée
  currentSortedColumn = columnName;
}

function resetSortIcons() {
  // Masquer toutes les icônes de tri
  document.querySelectorAll('.fas.fa-sort').forEach(icon => {
    icon.classList.remove('active');
  });
}

function getColumnIndex(columnName) {
  var headers = document.getElementById("tableContainer").getElementsByTagName('th');
  for (var i = 0; i < headers.length; i++) {
    if (headers[i].getAttribute('data-column') === columnName) {
      return i;
    }
  }
  return -1; // Retourne -1 si la colonne n'est pas trouvée
}


</script>
{% endblock %}
