{% extends 'baseFront.html.twig' %}
{% block title %}Etablissement index
{% endblock %}


{% block publication %}
	<!-- Team Start -->
	<div class="container-xxl py-5">
		<div class="container py-5 px-lg-5">
			<div class="wow fadeInUp" data-wow-delay="0.1s">
				<p class="section-title text-secondary justify-content-center">
					<span></span>---<span></span>
				</p>
				<h1 class="text-center mb-5">Posts</h1>
			</div>
			<div class="row g-4">

<a href="{{ path('app_post_newFront') }}">Create new +</a>
    
{% for postAndComment in postsAndComments %}

			
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
					<div class="team-item bg-light rounded">
						<div class="text-center border-bottom " style="margin-bottom: 10px;">
							<div style="overflow: hidden;">
								<br>
								<div style="float: left; margin-right: 10px;">

									<img class="img-fluid rounded-circle mb-4" src="{{ asset('images/' ~ postAndComment.post.getUtilisateur().getImage()) }}" alt="" style="width: 50px; height: 50px;">

								</div>
								<div style="float: left;">
									<h5 style="text-align: left;">{{ postAndComment.post.getUtilisateur().getNom()}}</h5>
									<span>publié le  {{ postAndComment.post.date ? postAndComment.post.date|date('Y-m-d H:i:s') : ''  }} </span>
								</div>

							</div>
						</div>

						<div class="text-center border-bottom " style="margin-bottom: 10px;">
							<div class=" portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
								<div class="rounded overflow-hidden">
									<div class="bg-light p-1">

										<h5 class="lh-base mb-0" style="text-align: left;">
											{{ postAndComment.post.caption }}
										</h5>

									</div>

									<div class="position-relative overflow-hidden">

										<img class="img-fluid w-100" src="{{ asset('imagesOumayma/' ~ postAndComment.post.image) }}" alt="">
										<div class="portfolio-overlay">
											<a class="btn btn-square btn-outline-light mx-1" href="{{ asset('assets/img/' ~ postAndComment.post.image) }}" data-lightbox="portfolio"> {# lezem limage taa star hedha tkoun fel blasa edhika assets/img/ sinon ki tenzel aaleha matloadich  #}
												<i class="fa fa-eye"></i>
											</a>

										</div>
									</div>
									{{postAndComment.post.nbComments}} Comments | {{postAndComment.post.totalReactions}} Reactions
									<br>
								</div>
							</div>
						</div>


						<div class="d-flex justify-content-center border-bottom p-4">
							<a class="btn btn-square mx-1" href="#">
								<i class="far fa-thumbs-up"></i>
							</a>
							{% if postAndComment.post.getUtilisateur().getIdUtilisateur() == idUtilisateurConnecte %}
							
							<a class="btn btn-square mx-1"  href="{{ path('app_post_editfront', {'id_post': postAndComment.post.idPost}) }}">
								<i class="far fa-edit"></i>
							</a>



							

							<form action="{{ path('app_post_deleteFront', {'id_post': postAndComment.post.idPost}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postAndComment.post.idPost) }}">
                        <button type="submit" class="btn btn-square btn-outline-light mx-1">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>

							{% endif %}
							<a class="btn btn-square mx-1"  href="{{ path('app_commentaire_newFront', {'id_post': postAndComment.post.idPost}) }}">
								<i class="far fa-comment"></i>
							</a>
							<a class="btn btn-square mx-1"  href="#">
								<i class="fas fa-bullhorn"></i>

							</a>

						</div>



<div class="d-flex justify-content-center p-4 flex-column">
<h5 class="d-flex justify-content-center" >Commentaires:</h5>

 {% if postAndComment.comments %}
 {% for comment in postAndComment.comments %}
  <div class="card mb-3">
    <div class="card-body d-flex align-items-center">
        <!-- Ajoutez l'image de l'utilisateur ici avec une classe pour la styliser -->
        <img class="user-image mr-2" src="{{ asset('images/' ~ comment.getUtilisateur().getImage()) }}" alt="User Image">
        
        <h5 class="card-title mb-0">{{ comment.getUtilisateur().getNom() }}</h5>
		<!-- Espace pour aligner les éléments à droite -->
        
		<div class="card-body d-flex justify-content-end">
    <span class="text-right">publié le {{ comment.getDateCo() ? comment.getDateCo()|date('Y-m-d') : '' }}</span>
</div>
    </div>
    <div class="card-body mt-0 pt-0">
        <p class="card-text">{{ comment.DescriptionCo() }}</p>
    </div>
	  

{% if comment.getUtilisateur().getIdUtilisateur() == idUtilisateurConnecte %}
	<div class="d-flex align-items-center">
    <a class="btn btn-square mx-1" href="{{ path('app_commentaire_editFront', {'id_commentaire': comment.getIdCommentaire}) }}">
        <i class="far fa-edit"></i>
    </a>

    <form action="{{ path('app_commentaire_deleteFront', {'id_commentaire': comment.getIdCommentaire}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce wallet ?')" class="ml-2">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.getIdCommentaire) }}">
        <button type="submit" class="btn btn-square btn-outline-light mx-1">
            <i class="fa fa-trash"></i>
        </button>
    </form>
</div>


					{% endif %}

</div>



   {% endfor %}
    {% else %}
	<div class="card mb-3">
        <div class="card-body">
            
            <p class="card-text"> pas de commentaire a afficher </p>
        </div>
    </div>
   {% endif %}
</div>
</div>
				</div>

{% endfor %}

</div>
		</div>
	</div>
	<!-- Team End -->


<style>
	.user-image {
    width: 30px; /* ajustez la largeur selon vos besoins */
    height: 30px; /* ajustez la hauteur selon vos besoins */
    border-radius: 50%; /* pour rendre l'image circulaire */
    margin-right: 10px; /* espace entre l'image et le texte */
    /* Ajoutez d'autres styles pour styliser l'image comme une icône */
}
</style>
{% endblock %}